body, html {
  padding: 0;
  margin: 0;
}

.App {
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(54, 60, 73);
  color: #FFF;
  box-sizing: border-box;
}

pre {
  width: 98%;
  padding: 12px 24px;
  overflow: hidden;
  background-color: rgb(34, 38, 44);
  box-sizing: border-box;
}
code {
  font-size: 12px;
  white-space: pre;
  line-break: anywhere;
}

.App-logo {
  height: 40vmin;
  white-space: pre;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
